<template lang="pug">
  section#clock
    div {{ now }}
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'
import { format } from 'date-fns'

export default {
  name: 'Clock',
  computed: {
    ...mapState({
      count: (state: any) => state.count,
      now: (state: any) => format(state.prayers.now, 'HH:mm:ss')
    }),
    ...mapGetters(['isEven'])
  },
  methods: {
    ...mapActions(['increment', 'decrement', 'reset', 'tick'])
  },
  mounted() {
    // console.log(this.state)
  }
}
// console.log('finish script')
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped lang="sass">
#clock
  color: $clock-color
  background: $clock-background
  font-weight: $clock-font-weight
  font-size: $clock-font-size
  flex: 0.15
  display: flex
  justify-content: center
  align-items: center
  @if $clock-padding
    padding: $clock-padding
</style>
