<template>
  <div class='hello'>
    <!-- <hr>
    <h1>{{ count }}</h1>
    <h1>{{ day.format }}</h1>
    <h1>{{ title }}</h1>
    <h1>{{ doneCount }}</h1>
    <hr>-->
    <section class='hero'>
      <h1 class='title'>{{ count }}</h1>
      <h2 v-if='isEven'>Is even!!</h2>
    </section>
    <section>
      <button class='button' @click='increment'>+</button>
      <button class='button' @click='decrement'>-</button>
      <button class='button' @click='reset'>Reset</button>
    </section>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'

export default {
  name: 'HelloWorld',
  computed: {
    ...mapState(['count']),
    ...mapGetters(['isEven'])
  },
  methods: {
    ...mapActions(['increment', 'decrement', 'reset'])
  }
}
console.log('finish script')
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
