<template lang="pug">
  section#countdown(v-bind:style="'position:relative'")
    div.text
      div {{ countdown.name }}
      div {{ countdown.duration }}
    div.bar(v-bind:style="'width:'+ countdown.percentage +'%'")
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'
import { format } from 'date-fns'
import { convertToDuration } from '../helpers/func'

// @ts-ignore
import logo from '../config/logo.svg'

export default {
  name: 'Countdown',
  computed: {
    ...mapState({
      countdown: (state: any) => {
        return {
          duration: convertToDuration(state.prayers.countDown.duration),
          name: state.prayers.countDown.name,
          percentage: state.prayers.percentage
        }
      }
    })
  }
}
</script>

<style scoped lang="sass">
#countdown
  color: $countdown-color
  background: $countdown-background
  font-weight: $countdown-font-weight
  font-size: $countdown-font-size
  flex: 0.05
  @if $countdown-padding
    padding: $countdown-padding

  div
    z-index: 100
  .text
    padding: 1rem
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    div
      display: inline-block
      margin: 0 0.5rem
  .bar
    z-index: 1
    height: 100%
    background: $primary-transparent-background
    position: absolute
    left: 0
    top: 0
</style>
