<template lang="pug">
  section#footer
    div.online(v-if="online")
      WifiOn
    div.online(v-else)
      WifiOff
    //- div {{online}}
    div(v-if="ramadan") {{ ramadan }}
    div(v-if="taraweeh") {{ taraweeh }}
    div(v-if="jummuah") {{ jummuah }}
    div.update
      div(v-if="refresh")
        span {{ refresh }}
        Refresh
      div
        span {{ update }}
        Download
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'
import { format, formatDistance } from 'date-fns'
import { hijriDate, appendZero, hijriConvert } from '../helpers/func'
// @ts-ignore
import defsettings from '../config/settings'
// @ts-ignore
import WifiOn from '../assets/icons/wifiOn.svg'
// @ts-ignore
import WifiOff from '../assets/icons/wifiOff.svg'
// @ts-ignore
import Logo from '../config/logo.svg'
// @ts-ignore
import Download from '../assets/icons/download.svg'
// @ts-ignore
import Refresh from '../assets/icons/refresh.svg'

// ONLINE
const onlineDisp = (online: any) => online

// RAMADAN
const ramadanDisp = (day: any) => {
  const result = day.ramadanCountdown
    ? `${day.ramadanCountdown} to Ramadan`
    : null
  return result
}

// TARAWEEH
const taraweehDisp = (settings: any) => {
  const now = new Date()

  const hijri = hijriConvert(now)
  const result =
    hijri.hm === 9
      ? `Taraweeh ${settings.taraweehtime[0]}:${appendZero(
          settings.taraweehtime[1]
        )}`
      : null

  return result
}

// JUMMUAH
const jummuahDisp = (settings: any) => {
  const result = settings.jummuahtime[0]
    ? `Jummuah ${settings.jummuahtime[0]}:${appendZero(
        settings.jummuahtime[1]
      )}`
    : 0

  return result
}

// REFRESHDIFF
const appRefreshed = (update: any) => {
  /* eslint-disable babel/no-unused-expressions */
  // console.log('REFRESHED', update.refreshed)

  let diff
  update.refreshed !== '-' && update.refreshed > 0
    ? (diff = `${formatDistance(new Date(update.refreshed), new Date(), {
        includeSeconds: true
      })} ago
    `)
    : (diff = '-')
  const result = defsettings.online ? diff : null

  return result
}

// UPDATED
const contentUpdated = (settings: any) => {
  // console.log('UPDATED', settings.updated)
  let result
  if (!defsettings.online) {
    result = null
  } else if (settings.updated < 1514764800) {
    result = ' - '
  } else {
    result = `${formatDistance(new Date(settings.updated * 1000), new Date(), {
      includeSeconds: true
    })} ago`
  }
  return result
}

export default {
  name: 'Footer',
  computed: {
    ...mapState({
      ramadan: (state: any) => ramadanDisp(state.day),
      taraweeh: (state: any) => taraweehDisp(state.settings),
      jummuah: (state: any) => jummuahDisp(state.settings),
      refresh: (state: any) => appRefreshed(state.update),
      update: (state: any) => contentUpdated(state.settings),
      online: (state: any) => onlineDisp(state.update.online)
    })
  },
  components: {
    WifiOn,
    WifiOff,
    Logo,
    Download,
    Refresh
  }
}
</script>

<style scoped lang="sass">
#footer
  color: $footer-color
  background: $footer-background
  font-weight: $footer-font-weight
  font-size: $footer-font-size
  height: 5rem
  /* border-top: 1px solid rgba(0, 0, 0.1) */
  display: flex
  flex-direction: row
  justify-content: space-between
  @if $footer-padding
    padding: $footer-padding
  
  div 
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    text-align: center
  div:first-child
    text-align: left
  div:last-child
    text-align: right
  
  div.update
    text-align: right
    font-size: 50%
    line-height: 1.25
    div
      text-align: right
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      svg
        width: 1rem
        height: 1.2rem
        padding-top: 4px
        margin-left: .5rem
        display: inline-block
        path
          fill: $footer-color
          fill-rule: nonzero

  div.online
    align-items: flex-start

    svg
      /* width: 3rem */
      height: 2rem
      path
        fill: $footer-color
        fill-rule: nonzero
      path.on
        fill: $footer-color
      path.off
        fill: $primary-transparent-color

</style>
