<template lang="pug">
  section#message
    div.announcement(v-if="announcement") {{ announcement }}
    div.ar(v-if="message.ar") {{ message.ar }}
    div(v-if="message.en") {{ message.en }}
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'

export default {
  name: 'Message',
  computed: {
    ...mapState({
      message: (state: any) => {
        return { ar: state.settings.text.ar, en: state.settings.text.en }
      },
      announcement: (state: any) => state.settings.announcement
    })
  }
}
</script>

<style scoped lang="sass">
#message
  color: $message-color
  background: $message-background
  font-weight: $message-font-weight
  font-size: $message-font-size
  display: flex
  flex-direction: column
  justify-content: space-around
  flex: 0.2
  @if $message-padding
    padding: $message-padding

  div.announcement
    font-weight: 700
    font-size: 115%

  div.ar
    font-family: $font-family-ar
</style>
