<template lang="pug">
  section#prayers
    header
      div Prayer
      div Adhan
      div Iqamah
    main
      div(v-bind:class="item.isNext ? 'prayer next' : 'prayer'" v-for="item in prayers" :key="item.id")
        div {{ item.name }}
        div {{ item.adhan }}
        div {{ item.iqamah }}
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'
import { format } from 'date-fns'
import { hijriDate } from '../helpers/func'
// @ts-ignore
import logo from '../config/logo.svg'

const renderPrayers = (prayers: any, join: boolean) => {
  // console.log(join)
  const { next, isAfterIsha, focus } = prayers

  const adhan = (prayer: any) => {
    let result
    if (join && prayer.name === 'isha') {
      result = 'after'
    } else {
      result = format(prayer.time, 'H:mm')
    }
    return result
  }

  const iqamah = (prayer: any) => {
    let result
    if (join && prayer.name === 'isha') {
      result = 'maghrib'
    } else if (prayer.name === 'shurooq') {
      result = ''
    } else {
      result = format(prayer.jtime, 'H:mm')
    }
    return result
  }

  /* eslint-disable react/no-array-index-key */
  return prayers.map((prayer: any, index: any) => ({
    id: index,
    name: prayer.name,
    adhan: adhan(prayer),
    iqamah: iqamah(prayer),
    isNext: prayer.isNext
  }))
}

export default {
  name: 'Prayers',
  computed: {
    ...mapState({
      prayers: (state: any) =>
        state.prayers.isAfterIsha
          ? renderPrayers(state.prayers.prayers.tomorrow, state.settings.join)
          : renderPrayers(state.prayers.prayers.today, state.settings.join)
    })
  }
}
</script>

<style scoped lang="sass">
#prayers
  color: $prayers-color
  background: $prayers-background
  font-weight: $prayers-font-weight
  font-size: $prayers-font-size
  flex: 0.6
  @if $prayers-padding
    padding: $prayers-padding

  header
    display: flex
    padding: 1rem 2rem
    flex: 0.15
    height: 9rem
    justify-content: space-between
    align-items: center
    @if $prayers-header-background
      background: $primary-transparent-background

  main
    display: flex
    flex-direction: column
    justify-content: stretch
    flex: 0.85
    height: calc(100% - 9rem)

  .prayer
    display: flex
    padding: 1rem 2rem
    margin: 0.1rem 0
    flex: 1
    justify-content: space-between
    align-items: center
    background: $secondary-transparent-background
    @if $prayers-font-uppercase
      text-transform: uppercase

    div
      width: 100%
      text-align: center

    div:first-child
      text-align: left

    div:last-child
      text-align: right

  .next
    background: $secondary-color
    font-weight: 700
</style>
