<template lang="pug">
  div#app
    Header
    Clock
    Prayers
    Message
    Countdown
    Footer
    Overlay(v-if="overlay")
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'

import Header from './components/Header.vue'
import Clock from './components/Clock.vue'
import Prayers from './components/Prayers.vue'
import Message from './components/Message.vue'
import Countdown from './components/Countdown.vue'
import Footer from './components/Footer.vue'
import Overlay from './components/Overlay.vue'

export default Vue.extend({
  name: 'app',
  components: {
    Header,
    Clock,
    Prayers,
    Message,
    Countdown,
    Footer,
    Overlay
  },
  data() {
    return {
      timerTick: 0,
      timerUpdate: 0,
      // checkOverlay: checkOverlay()
    }
  },
  methods: {
    ...mapActions(['tick', 'getLocal', 'getUpdate']),
    // TICK
    runTick() {
      this.$store.dispatch('tick')
      this.timerTick = setInterval(() => this.$store.dispatch('tick'), 1000)
    },
    // LOCAL
    runLocal() {
      this.$store.dispatch('getLocal')
    },
    // UPDATE
    runUpdate() {
      this.$store.dispatch('getUpdate'),
      this.timerUpdate = setInterval(
        () => this.$store.dispatch('getUpdate'),
        1000 * 60
      )
    },
  },
  created() {
    this.runTick()
    this.runLocal()
    this.runUpdate()
  },
  beforeDestroy() {
    clearInterval(this.timerTick)
    clearInterval(this.timerUpdate)
  },
  computed: {
    ...mapState({
      overlay: (state: any) => state.update.event
    }),
  },
})
</script>

<style lang="sass">
@import url('./fonts/open-sans.css')
@import url('./fonts/cairo.css')

* 
  box-sizing: border-box

html,
body,
#app
  margin: 0
  padding: 0
  height: 100%
html, body
  background: $secondary-background
  font-size: 16px

#app 
  font-family: $font-family
  font-weight: $font-weight
  font-size: $font-size
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  background: $primary-background
  background-image: url('./config/bg.png')
  background-size: 100% 100%
  color: $primary-color
  display: flex
  flex-direction: column
  justify-content: space-between
</style>
